$color-01:#000;
$color-02:#fff;
$color-03:#ddd;
$color-04:#eee;
$bg-color-00:#6b00c9;
$bg-color-01: transparent;
$bg-color-02:#efefef;
$color-05:#aaa;
$font-family-default:'Roboto', sans-serif;
$font-small-size-00:12px;
$font-small-size-01: 14px;
$font-small-size-02:16px;
$font-medium-size-00:18px;
$font-medium-size-01:20px;
$font-big-size-00:24px;
$font-big-size-01:50px;
